@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Dancing Script", cursive;
  background-image: linear-gradient(0deg, #1f2232 25%, #1f2232 93%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 50px;
  margin-bottom: 150px;
  animation: shrinkGrow 5s infinite;
}

@keyframes shrinkGrow {
  0%,
  100% {
    transform: scale(1);
    color: rgb(233, 247, 247);
  }

  50% {
    transform: scale(1.5);
    color: rgb(115, 117, 117);
  }
}

.music-container {
  background-color: azure;
  border-radius: 20px;
  box-shadow: 0 20px 20px 0 rgba(252, 170, 170, 0.8);
  display: flex;
  padding: 50px 50px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 250px;
}

.img-container::after {
  content: "";
  background-color: antiquewhite;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  bottom: 150%;
  border-radius: 50%;
  transform: translate(-50%, -150%);
}

.img-container img {
  width: inherit;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 4s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.action-btn {
  border: 0;
  background-color: aliceblue;
  color: rgb(243, 175, 93);
  font-size: 23px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn-big {
  font-size: 30px;
  color: rgb(78, 252, 194);
}
.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  top: 0;
  left: 45px;
  width: calc(100% - 40px);
  opacity: 0;
  transform: translateY(0%);
  padding: 10px 10px 10px 250px;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-180%) skewY(15deg);
}

.music-info h2 {
  margin: 0;
}

.progress-container {
  background: rgb(255, 255, 255);
  border-radius: 6px;
  cursor: crosshair;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: burlywood;
  border-radius: 6px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.music-bars {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 40%;
}

.bar {
  width: 10px;
  height: 0px;
  background-color: #003459;
  margin: 4px 12px;
  animation: equalizer 4s infinite;
  animation-play-state: paused;
  box-shadow: 0px 0px 15px 5px #0ff, 20px 20px 20px 10px rgb(248, 32, 122);
}

.music-bars.play .bar {
  animation-play-state: running;
}

.music-bars.smoothen .bar {
  animation: start-smooth 3s infinite;
}

.music-bars.pause .bar {
  animation: freeze 2s;
}

.bar:nth-child(1) {
  animation-duration: 1.9s;
}

.bar:nth-child(2) {
  animation-duration: 2s;
}

.bar:nth-child(3) {
  animation-duration: 2.3s;
}

.bar:nth-child(4) {
  animation-duration: 2.4s;
}

.bar:nth-child(5) {
  animation-duration: 2.1s;
}

.bar:nth-child(6) {
  animation-duration: 1.9s;
}

.bar:nth-child(7) {
  animation-duration: 2.1s;
}

.bar:nth-child(8) {
  animation-duration: 1.3s;
}

.bar:nth-child(9) {
  animation-duration: 1.4s;
}

.bar:nth-child(10) {
  animation-duration: 2.5s;
}

@keyframes equalizer {
  1% {
    height: 100px;
  }
  4% {
    height: 120px;
  }
  8% {
    height: 140px;
  }
  12% {
    height: 120px;
  }
  16% {
    height: 90px;
  }
  20% {
    height: 70px;
  }
  24% {
    height: 90px;
  }
  28% {
    height: 100px;
  }
  32% {
    height: 120px;
  }
  36% {
    height: 140px;
  }
  40% {
    height: 150px;
  }
  44% {
    height: 140px;
  }
  48% {
    height: 170px;
  }
  52% {
    height: 130px;
  }
  56% {
    height: 120px;
  }
  60% {
    height: 110px;
  }
  64% {
    height: 100px;
  }
  68% {
    height: 80px;
  }
  72% {
    height: 60px;
  }
  76% {
    height: 30px;
  }
  80% {
    height: 40px;
  }
  84% {
    height: 70px;
  }
  88% {
    height: 100px;
  }
  92% {
    height: 120px;
  }
  96% {
    height: 140px;
  }
  100% {
    height: 180px;
  }
}

@keyframes start-smooth {
  1% {
    height: 20px;
  }
  10%,
  100% {
    height: 40px;
  }
  20% {
    height: 50px;
  }
  30% {
    height: 70px;
  }
  40% {
    height: 80px;
  }
  50% {
    height: 60px;
  }
}

@keyframes freeze {
  1% {
    height: 90px;
  }
  10% {
    height: 60px;
  }
  20% {
    height: 40px;
  }
  30% {
    height: 20px;
  }
  40% {
    height: 10px;
  }
}
